SH_OBD/Web References/MES1/webservicedemo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="WriteDataToJES">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dt1MES">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="dt2MES">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WriteDataToJESResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WriteDataToJESResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WriteDataToMes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dt1MES">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="dt2MES">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WriteDataToMesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WriteDataToMesResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProtocol">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:Request" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Request">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ZVIN" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetProtocolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProtocolResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Response">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZCSFS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WERKS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZBZL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZFDJEDGL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZDZZD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZFDJEDZS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZQGS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VEHICLEMODEL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RLZL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BSXXS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QDFS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QDZW" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PQGSL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZPFJD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZODBWZ" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WriteDataToJESSoapIn">
    <wsdl:part name="parameters" element="tns:WriteDataToJES" />
  </wsdl:message>
  <wsdl:message name="WriteDataToJESSoapOut">
    <wsdl:part name="parameters" element="tns:WriteDataToJESResponse" />
  </wsdl:message>
  <wsdl:message name="WriteDataToMesSoapIn">
    <wsdl:part name="parameters" element="tns:WriteDataToMes" />
  </wsdl:message>
  <wsdl:message name="WriteDataToMesSoapOut">
    <wsdl:part name="parameters" element="tns:WriteDataToMesResponse" />
  </wsdl:message>
  <wsdl:message name="GetProtocolSoapIn">
    <wsdl:part name="parameters" element="tns:GetProtocol" />
  </wsdl:message>
  <wsdl:message name="GetProtocolSoapOut">
    <wsdl:part name="parameters" element="tns:GetProtocolResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceDemoSoap">
    <wsdl:operation name="WriteDataToJES">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">青云谱工厂上传SAP方法</wsdl:documentation>
      <wsdl:input message="tns:WriteDataToJESSoapIn" />
      <wsdl:output message="tns:WriteDataToJESSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WriteDataToMes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">小蓝工厂上传MES方法</wsdl:documentation>
      <wsdl:input message="tns:WriteDataToMesSoapIn" />
      <wsdl:output message="tns:WriteDataToMesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProtocol">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">SAP通过VIN号获取OBD协议的方法</wsdl:documentation>
      <wsdl:input message="tns:GetProtocolSoapIn" />
      <wsdl:output message="tns:GetProtocolSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceDemoSoap" type="tns:WebServiceDemoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WriteDataToJES">
      <soap:operation soapAction="http://tempuri.org/WriteDataToJES" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteDataToMes">
      <soap:operation soapAction="http://tempuri.org/WriteDataToMes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProtocol">
      <soap:operation soapAction="http://tempuri.org/GetProtocol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceDemoSoap12" type="tns:WebServiceDemoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WriteDataToJES">
      <soap12:operation soapAction="http://tempuri.org/WriteDataToJES" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteDataToMes">
      <soap12:operation soapAction="http://tempuri.org/WriteDataToMes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProtocol">
      <soap12:operation soapAction="http://tempuri.org/GetProtocol" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceDemo">
    <wsdl:port name="WebServiceDemoSoap" binding="tns:WebServiceDemoSoap">
      <soap:address location="http://localhost:53827/webservicedemo.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceDemoSoap12" binding="tns:WebServiceDemoSoap12">
      <soap12:address location="http://localhost:53827/webservicedemo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>