SH_OBD/Web References/MES1/webservicedemo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ReceiveDeviceData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strIN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveDeviceDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReceiveDeviceDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WriteDataToMes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dt1MES">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="dt2MES">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WriteDataToMesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WriteDataToMesResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReceiveDeviceDataSoapIn">
    <wsdl:part name="parameters" element="tns:ReceiveDeviceData" />
  </wsdl:message>
  <wsdl:message name="ReceiveDeviceDataSoapOut">
    <wsdl:part name="parameters" element="tns:ReceiveDeviceDataResponse" />
  </wsdl:message>
  <wsdl:message name="WriteDataToMesSoapIn">
    <wsdl:part name="parameters" element="tns:WriteDataToMes" />
  </wsdl:message>
  <wsdl:message name="WriteDataToMesSoapOut">
    <wsdl:part name="parameters" element="tns:WriteDataToMesResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceDemoSoap">
    <wsdl:operation name="ReceiveDeviceData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">青云谱工厂上传SAP方法</wsdl:documentation>
      <wsdl:input message="tns:ReceiveDeviceDataSoapIn" />
      <wsdl:output message="tns:ReceiveDeviceDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WriteDataToMes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">小蓝工厂上传MES方法</wsdl:documentation>
      <wsdl:input message="tns:WriteDataToMesSoapIn" />
      <wsdl:output message="tns:WriteDataToMesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceDemoSoap" type="tns:WebServiceDemoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReceiveDeviceData">
      <soap:operation soapAction="http://tempuri.org/ReceiveDeviceData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteDataToMes">
      <soap:operation soapAction="http://tempuri.org/WriteDataToMes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceDemoSoap12" type="tns:WebServiceDemoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReceiveDeviceData">
      <soap12:operation soapAction="http://tempuri.org/ReceiveDeviceData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteDataToMes">
      <soap12:operation soapAction="http://tempuri.org/WriteDataToMes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceDemo">
    <wsdl:port name="WebServiceDemoSoap" binding="tns:WebServiceDemoSoap">
      <soap:address location="http://localhost:53827/webservicedemo.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceDemoSoap12" binding="tns:WebServiceDemoSoap12">
      <soap12:address location="http://localhost:53827/webservicedemo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>